* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* the colors */
  --color-main: #050505;
  --color-text: #e3e3e3;

  /* the fonts */
  --font-sm: 1rem;
  --font-md: 1.5em;
  --font-lg: 1.75em;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-main);
  color: var(--color-text);
}

button {
  all: unset;
  padding-inline: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  outline: 2px solid var(--color-text);
  font-weight: bold;
  cursor: pointer;
}

.container {
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  row-gap: 2em;
}
body::-webkit-scrollbar {
  display: none;
}
.logo {
  width: 40px;
  height: 40px;
}
.header {
  display: flex;
  column-gap: 2em;
  align-items: center;
}

.header span {
  font-size: var(--font-md);
}

.input-field {
  width: 100%;
}

.text_input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-text);
  width: 100%;
  /* padding-inline: 2em; */
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: var(--font-md);
}
.text_input::placeholder {
  color: var(--color-text);
  opacity: 0.8;
}
